.header {
  margin-top: .5rem;
  padding-left: 10px;
}

.list__item {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 3px;
}

.list__item:hover {
  background-color: #444;
}

a:hover {
  text-decoration: none;
}

.header__link {
  color: white;
}

.header__link:hover {
  color: #00bc8c;
}

